body,
html {
	font-family: 'Montserrat', Sans-Serif;
	background: url(header.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	font-size: 3rem;
	color: #e2dbdb;
	padding-top: 15rem;
}

hr {
	border-color: #F05F44;
	border-width: 3px;
	max-width: 65px;
}

.btn {
	font-weight: 700;
	border-radius: 200px;
	text-transform: uppercase;
}

.buffer {
	height: 22rem;
}

.btn-primary {
	background-color: #F05F44;
	border-color: #F05F44;
}

.btn-primary:hover {
	background-color: #ee4b08;
	border-color: white;
	border-width: 2px;
}

.btn-xl {
	padding: 1rem 2rem;
}